In [13]:
import pandas as pd
import time

In [16]:
data = pd.read_html('https://baseball-data.com/19/player/yb/')

In [18]:
# 取ったデータを確認してみましょう。
data

[    No.    選手名   守備        生年月日   年齢   年数     身長     体重 血液型  投打      出身地  \
 0     0  宮本　秀明  外野手  1996/07/24  23歳   2年  178cm   83kg  O型  右左       熊本
 1     0  中井　大介  内野手  1989/11/27  30歳  12年  183cm   88kg  B型  右右       三重
 2     1  桑原　将志  外野手  1993/07/21  26歳   8年  174cm   78kg  B型  右右       大阪
 3     2    ロペス  内野手  1983/11/24  36歳   7年  183cm  103kg  不明  右右    ベネズエラ
 4     3  梶谷　隆幸  外野手  1988/08/28  31歳  13年  180cm   85kg  A型  右左       島根
 ..  ...    ...  ...         ...  ...  ...    ...    ...  ..  ..      ...
 68   97    ソリス   投手  1988/08/10  31歳   1年  196cm  114kg  不明  左右     アメリカ
 69   99     ソト  内野手  1989/02/28  30歳   2年  185cm   97kg  不明  右右   プエルトリコ
 70  100  宮城　滝太   投手  2000/07/15  19歳   1年  181cm   73kg  A型  右右       沖縄
 71  106  水野　滉也   投手  1994/06/01  25歳   3年  175cm   80kg  O型  右右      北海道
 72  107   コルデロ   投手  1997/12/18  22歳   1年  189cm   88kg  不明  左左  ドミニカ共和国

       年俸(推定)
 0      850万円
 1    1,200万円
 2    8,400万円
 3   23,000万円
 4    9,600万円
 ..       ...
 68   3,300万円
 69   9,500万円
 70     340万円
 71     950万円
 72     240万円

 [73 rows x 12 columns]]

In [19]:
#listの形になってますね。
#DataFrame型にしましょう。

In [21]:
data = data[0]

In [ ]:
#DataFrame型にできましたので、データを確認してみましょう。

In [22]:
data.head()

,No.,選手名,守備,生年月日,年齢,年数,身長,体重,血液型,投打,出身地,年俸(推定)
0,0,宮本 秀明,外野手,1996/07/24,23歳,2年,178cm,83kg,O型,右左,熊本,850万円
1,0,中井 大介,内野手,1989/11/27,30歳,12年,183cm,88kg,B型,右右,三重,"1,200万円"
2,1,桑原 将志,外野手,1993/07/21,26歳,8年,174cm,78kg,B型,右右,大阪,"8,400万円"
3,2,ロペス,内野手,1983/11/24,36歳,7年,183cm,103kg,不明,右右,ベネズエラ,"23,000万円"
4,3,梶谷 隆幸,外野手,1988/08/28,31歳,13年,180cm,85kg,A型,右左,島根,"9,600万円"

# 最高の形じゃないか！！
# きれいになっています。
# 何もする必要がございませんｗ
# せっかくですので、年齢や年俸など数値として扱いたいところは変換しておきましょう。

# 型を確認します。

In [25]:
data.dtypes

No.        int64
選手名       object
守備        object
生年月日      object
年齢        object
年数        object
身長        object
体重        object
血液型       object
投打        object
出身地       object
年俸(推定)    object
dtype: object

# 基本的にオブジェクト型ですので、文字列型にして「年」とかを削ってきます。

In [26]:
data['年齢'] = data['年齢'].str.replace('歳','')

# replaceで消して確認します。

In [27]:
data.head()

   No.    選手名   守備        生年月日  年齢   年数     身長     体重 血液型  投打    出身地    年俸(推定)
0    0  宮本　秀明  外野手  1996/07/24  23   2年  178cm   83kg  O型  右左     熊本     850万円
1    0  中井　大介  内野手  1989/11/27  30  12年  183cm   88kg  B型  右右     三重   1,200万円
2    1  桑原　将志  外野手  1993/07/21  26   8年  174cm   78kg  B型  右右     大阪   8,400万円
3    2    ロペス  内野手  1983/11/24  36   7年  183cm  103kg  不明  右右  ベネズエラ  23,000万円
4    3  梶谷　隆幸  外野手  1988/08/28  31  13年  180cm   85kg  A型  右左     島根   9,600万円

# 簡単に消えたでしょう？
# この処理を他の列にもやっていきます。

In [30]:
data['年俸(推定)'] = data['年俸(推定)'].str.replace('万円','')
data['年俸(推定)'] = data['年俸(推定)'].str.replace(',','')
data['身長'] = data['身長'].str.replace('cm','')
data['年数'] = data['年数'].str.replace('年','')
data['体重'] = data['体重'].str.replace('kg','')

In [31]:
data.head()

   No.    選手名   守備        生年月日  年齢  年数   身長   体重 血液型  投打    出身地 年俸(推定)
0    0  宮本　秀明  外野手  1996/07/24  23   2  178   83  O型  右左     熊本    850
1    0  中井　大介  内野手  1989/11/27  30  12  183   88  B型  右右     三重   1200
2    1  桑原　将志  外野手  1993/07/21  26   8  174   78  B型  右右     大阪   8400
3    2    ロペス  内野手  1983/11/24  36   7  183  103  不明  右右  ベネズエラ  23000
4    3  梶谷　隆幸  外野手  1988/08/28  31  13  180   85  A型  右左     島根   9600

# いい感じですね。
# 保存して完成です。

In [35]:
# indexはいらないので、indexの引数をFalseにしておくと良いでしょう
data.to_csv('output.csv',index=False)

# 行う処理は決まっているので関数にして、例外処理で各チームのURLにスクレイピングをかけてデータ保存してしまいましょう。

In [53]:
def ScrapingProfileData(url,team_initial):
    """プロフィールデータをスクレイピングする関数"""
    data = pd.read_html(url)
    data = data[0]
    data['年俸(推定)'] = data['年俸(推定)'].str.replace('万円','')
    data['年俸(推定)'] = data['年俸(推定)'].str.replace(',','')
    data['身長'] = data['身長'].str.replace('cm','')
    data['年数'] = data['年数'].str.replace('年','')
    data['体重'] = data['体重'].str.replace('kg','')
    data.to_csv('output_' + str(team_initial) + '.csv',index=False)

#  10行でできてしまいました！！！

In [54]:
import pandas as pd
import time
if __name__ == "__main__":
    #urlのパターンがチームのイニシャルになっていますので、リストを作っていきます
    name_list = ['g','yb','t','c','d','s','l','h','e','m','f','bs']
    #基礎となるurlを用意します。
    url_base = 'https://baseball-data.com//player/'
    #基礎となるurlに各チームのページに移れるようにname_listの文字をくっつけてurlを作ります。
    for team_initial in name_list:
        try:
            url = url_base + str(team_initial) +'/'
            print(url)
            ScrapingProfileData(url,team_initial)
            #不正アクセスと間違えられないために間隔をあけましょう。
            time.sleep(1)
        except:
            print('error')
    print('scraping_end')

https://baseball-data.com//player/g/
https://baseball-data.com//player/yb/
https://baseball-data.com//player/t/
https://baseball-data.com//player/c/
https://baseball-data.com//player/d/
https://baseball-data.com//player/s/
https://baseball-data.com//player/l/
https://baseball-data.com//player/h/
https://baseball-data.com//player/e/
https://baseball-data.com//player/m/
https://baseball-data.com//player/f/
https://baseball-data.com//player/bs/

# 最後に確認をしてみましょう

In [55]:
test = pd.read_csv('output_g.csv')

In [56]:
test.head()

   No.    選手名   守備        生年月日   年齢  年数   身長  体重 血液型  投打 出身地  年俸(推定)
0    0  吉川　大幾  内野手  1992/08/21  27歳  10  175  78  A型  右右  大阪    1600
1    0  増田　大輝  内野手  1993/07/29  26歳   5  172  68  A型  右右  徳島    1500
2    1  比嘉　賢伸  内野手  2000/01/12  20歳   3  180  82  A型  右左  大阪     270
3    2   陽　岱鋼  外野手  1987/01/17  33歳  15  184  89  A型  右右  台湾   30000
4    2  平間　隼人  内野手  1996/12/16  23歳   1  173  75  A型  右左  徳島     240